<!DOCTYPE html>

<html>
<body>
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Instructions</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeInstructionDialog()">
                    <md-icon md-svg-src="images/stats_icon.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <ol>
                    <li>Fill out user information</li>
                    <li>After clicking "OK", begin typing the paragraph shown in the text box at the top.</li>
                    <li>Type the paragraph in colored words into the text box above it as fast as you can.</li>
                </ol>
                <ul>
                    <li>Look in the statistics tab to see your typing speed and accuracy</li>
                    <li>Click sound icon <md-icon md-svg-src="images/sound_icon.svg" aria-label="Sound Icon"></md-icon>
                     to turn on dictation!
                    </li>
                </ul>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="closeInstructionDialog()" class="md-primary">OK</md-button>
        </md-dialog-actions>
    </md-dialog>
</body>
</html>