
@font-face {
  font-family: "SevenSegment";
  src: url('fonts/digital-7 (mono).ttf') format("truetype");
}


.header-font 
{ 
    font-family: "SevenSegment", sans-serif 
}


.center-submit
{
    margin-top: 20px;
}

.inputError
{
    background-color: #ff9999;
    color: #ff1a1a;
}

.boldWord
{
    font-weight: bold;
}

.textInputNormal
{
     background-color: #ffffff; 
     color: #000000;
}

.textInputError
{
     background-color: #ff9999; 
     color: #ff1a1a;
}

.stretch-height
{
    height: 100%;
}

.icon-s48 
{
    width: 48px;
    height: 48px;
}

.space-stats
{
    margin: 5%;
}

.red-border
{
    border: 2px solid red;
}