<!DOCTYPE html>
<html ng-app="typeTest">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Access-Control-Allow-Origin" content="*">

        <title>TypeTest</title>

        <!-- TypeTest references -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <link href="css/index.css" rel="stylesheet" />

    </head>
    <body style="background-color:#d1d1e0">
        <md-content layout-padding>
            <center><span class="header-font md-display-3">TypeTest</span></center>
            <div ng-controller="InputController as inputCtrl">
                <div>
                    <div layout="row" layout-wrap>
                        <div flex="70">
                            <md-input-container  class="md-block">
                                <label class="md-title">Type Here</label>
                                <input class="md-headline" ng-model="inputVal" id="paragraphInput" data-ng-trim="false" 
                                       style="background-color: #ffffff; color: #000000;" autofocus>
                                <strong ng-show="inputError">Oops! You messed up!</strong>
                            </md-input-container>

                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-display-1">{{paragraphTitle}}</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content>
                                    <p>
                                        <span class="md-headline" ng-repeat="word in paragraph track by $index">
                                            <span ng-class="{'boldWord': word.value == currentWord}" style="color:{{word.color}}">
                                                {{word.value}}
                                            </span>
                                        </span>
                                    </p>
                                </md-card-content>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button ng-click="textToSpeech = !textToSpeech">{{textToSpeech ? "Disable" : "Enable"}} Text to Speech</md-button>
                                </md-card-actions>
                            </md-card>

                        </div>
                        <div flex="30" id="stats">
                            <md-card class="stretch-height">
                                <md-card-title>
                                    <md-card-title-text>
                                        <md-icon class="md-avatar-icon icon-s48" md-svg-icon="images/stats_icon.svg"></md-icon>
                                    </md-card-title-text>
                                    <md-card-title-text>
                                        <span class="md-display-1">Statistics</span>
                                    </md-card-title-text>
                                </md-card-title>

                                <md-card-content layout="column" layout-align="space-around stretch">
                                    <div layout="row" layout-align="space-around center" class="space-stats">
                                        <div flex="50">
                                            <center><span class="md-title">Progress: {{metrics.progress | number:0}} %</span></center>
                                        </div>
                                        <div flex="50">
                                            <center>
                                                <md-progress-linear md-mode="determinate" value="{{metrics.progress}}"></md-progress-linear>
                                            </center>
                                        </div>
                                    </div>
                                    
                                    <div layout="row" layout-align="space-around center" class="space-stats">
                                        <div flex="30">
                                            <center><md-icon md-svg-icon="images/speed_icon.svg" class="icon-s48"></md-icon></center>
                                        </div>
                                        <div flex="70">
                                            <center><span class="md-title">Speed: {{metrics.speed}} wpm</span></center>
                                        </div>
                                    </div>
                                    <div layout="row" layout-align="space-around center" class="space-stats">
                                        <div flex="30">
                                            <center><md-icon md-svg-icon="images/accuracy_icon.svg" class="icon-s48"></md-icon></center>
                                        </div>
                                        <div flex="70">
                                            <center><span class="md-title">Accuracy: {{metrics.accuracy <= 100 ? metrics.accuracy : 100}} %</span></center>
                                        </div>
                                    </div>
                                    <div layout="row" layout-align="space-around center" class="space-stats">
                                        <div flex="100">
                                            <center><span class="header-font md-display-2">{{times.timerTime}}</span></center>
                                        </div>
                                    </div>


                                    <!--<md-card-title>
                                        <md-card-title-text>
                                            <md-icon md-svg-icon="images/speed_icon.svg" class="icon-s48"></md-icon>
                                        </md-card-title-text>
                                        <md-card-title-text>
                                            <span class="md-title">Speed: {{speed}} wpm </span>
                                        </md-card-title-text>
                                    </md-card-title>-->
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
        <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <!--ResponsiveVoiceJS-->
        <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
        <!-- Script folder refrences -->
        <script type="text/javascript" src="scripts/jquery-2.2.0.min.js"></script>
        <script type="text/javascript" src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="scripts/typetest.js"></script>
    </body>
</html>